<h1>Aareon Angular Test</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="wrapper">
        <div class="form-row">
            <label>Title</label>
            <select formControlName="title">
                <option value="">-- Select an option --</option>
                <option *ngFor="let title of getTitles() | async" [value]="title.name">{{title.name}}</option>
            </select>
        </div>
        <div class="form-row">
            <label>First name</label>
            <input type="text" placeholder="First name" formControlName="firstName" />
        </div>
        <div class="form-row">
            <label>Last name</label>
            <input type="text" placeholder="Last name" formControlName="lastName" [ngClass]="{'is-invalid':  f.lastName.errors && f.lastName.touched }" />
            <control-messages *ngIf="f.lastName.errors && f.lastName.touched" [control]='form.controls.lastName'
            [textError]="errorsList.lastName"
            ></control-messages>
        </div>
        <span></span>
        <div class="terms">
            <input type="checkbox" formControlName="acceptTerms"/>
            <label>I accept the terms & conditions</label>
        </div>
        <div class="button">
            <button [disabled]="form.get('acceptTerms').value === false">Submit</button>
        </div>
    </div>
</form>