h1 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

form {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
}

form * {
    box-sizing: border-box;
}

.wrapper {
    padding: 0;
    /* max-width: 800px; */
    margin: 0 auto;
}

.wrapper .form-row {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0px 5px 8px;
  justify-content: space-between; 
}

.wrapper .form-row > label {
    padding: 8px;
    letter-spacing: .09em;
    text-transform:initial;
    flex: 1 0 120px;
    max-width: 220px;
    text-align: left;
}

.wrapper .form-row > label + * { 
    flex: 1 0 220px;
}

.wrapper .form-row > input,
.wrapper .form-row > select {
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.wrapper .form-row control-messages {
    width: 100%;
}

.wrapper .terms {
    text-align: left;
    padding: 12px;
}

.wrapper .terms label { 
    padding-left: 5px;
}

.wrapper .button {
    display: flex;
    justify-content: right;
}

.wrapper .button button {
    padding: 8px 16px;
    background: #f2f2f2;
    color: #000;
    letter-spacing: .09em;
    border-radius: 5px;
    border: 1px solid darkgrey;
    cursor: pointer;
}

.wrapper .button button[disabled] { 
    color: gray;
    background-color: #ddd;
}

.wrapper .button button[disabled]:hover { 
    cursor: not-allowed;
}